h1 {
  text-align: center;
  color: indigo;
  background-color: lavender;
}
h2 {
  text-align: center;
  color: darkmagenta;
}
.row {
  padding-top: 5px;
}
.card-title {
  background-color: aliceblue;
}
.card-header {
  background-color: aliceblue;
  font-size: 1.25em;
}

#aboutme h2 {
  text-align: center;
  color: indigo;
  background-color: lavender;
  margin-top: 10px;
}

.card {
  margin: 1%;
}
.wrap {
  text-align: center;
}
img {
  float:right;
}
.pithycomments {
  font-family: fantasy;
  color: indigo;
}
