h1 {
  text-align: center;
  color: indigo;
  background-color: lavender;
}
h2 {
  text-align: center;
  color: darkmagenta;
}
h3.card-header {
  font-weight: normal;
}
.row {
  padding-top: 15px;
}
.card-title {
  background-color: aliceblue;
}
.card-header {
  background-color: aliceblue;
  font-size: 1.25em;
}

#aboutme h1 {
  text-align: center;
  color: indigo;
  background-color: lavender;
  margin-top: 20px;
}

.card {
  margin: 1%;
  margin-left: 0;
}

img {
  float:right;
}
.pithycomments {
  font-family: fantasy;
  color: indigo;
}
