.card-title {
  background-color: aliceblue;
}
.card-header {
  background-color: aliceblue;
  font-size: 1.25em;
}

#aboutme h2 {
  text-align: center;
  color: indigo;
  background-color: lavender;
}
.card {
  margin: 1%;
}
